<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% block title %}
Register Page
{% endblock %} 
{% block content %}
<body class="text-left">
  <div class="container">
    <form method="POST" class="form-register" style="color: white">
      {{ form.hidden_tag() }}
      <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
      <br />
      <!-- prettier-ignore -->
      {{ form.mobile_number(class='form-control', placeholder='Mobile Number')
      }}
      <br />
      {{ form.first_name(class='form-control', placeholder='First Name') }}
      <br />
      {{ form.last_name(class='form-control', placeholder='Last Name') }}
      <br />
      {{ form.birth_date.label() }}
      <br />
      {{ form.birth_date(type='date') }}

      <br />
      {% for subfield in form.gender %}
      <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
      </tr>

      {% endfor %}
      <br />
      {{ form.email_address(class='form-control', placeholder='Email') }}

      <br />

      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
  </div>
</body>

{% endblock %}
